/* CAVE CSS */

/* Main build up */

html {
		background-color: #DCF0F7;
}

body {
	background-color: #DCF0F7;
	font-size: 0.9em;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
}

/* SKELETON WRAPPERS */
#page-wrapper {
     width: 85%;
     margin: 0 auto;
     padding: 5px;
}
.top-wrapper {
				display: block;
    			margin: 0 auto;
    			text-align: left;
    			border: 1px solid light-gray;
    			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.middle-wrapper {
				display: block;
    			width: 100%;
    			margin: 0 auto;
    			padding: 14px 16px;
}

.doc-main {
				display: block;
    			
    			background-color: #eaf6fa;
    			text-align: left;
    			line-height: 1.8;
    			border: 1px solid light-gray;
    			border-radius: 15px;
    			padding: 5px 15px;
    			letter-spacing: 0.7px;
    			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* HEADER */

#header div {
				display: block;
				background: #5E9DC8;
    			color:white;
    			padding: 2px;
    			clear: left;
    			border-radius: 5px 5px 0px 0px;
}
		
/* NAVIGATOR */

#nav ul {
    			list-style-type: none;
    			margin: 0;
    			padding: 0;
    			overflow: hidden;
    			text-color: black;
    			background-color: #5E9DC8;
    			border-radius: 0px 0px 5px 5px;
    			box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

#nav ul.full-radius {
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#nav li {
    			float: left; 
}

#nav li a {
    			display: block; 
   				color: #1a1a1a;
    			font-size: 1.2em;
    			font-weight: bold;
    			text-align: center;
    			letter-spacing: 1px;
    			padding: 14px 16px;
    			text-decoration: none;
    			
}

#nav li a:hover {
    background-color: #0C2C52;
    color: #FFFFFF;
}

#nav li a:active {
    background-color: #DCF0F7;
    color: #1a1a1a;
}

#nav li.dropdown {
    display: inline-block;
    font-size: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#subnav li a:hover {
    background-color: #2B3856;
}

#subnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;     
}

#subnav li {
    float: left;  
    word-break: break-all; 
}

#subnav li a, .active a {
    display: block;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding: 14px 16px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    background-color: #737CA1;
}

#mininav li a:hover {
    background-color: #2B3856;
}

#mininav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;     
}

#mininav li {
    float: left;  
    word-break: break-all; 
}

#mininav li a, .active a {
    display: inline-block;
    color: white;
    font-size: 1em;
    text-align: center;
    letter-spacing: 1px;
    padding: 5px 7px;
    margin: 1px;
    text-decoration: none;
 	font-weight: bold;
    text-shadow: 1px 1px #000000;
    border-radius: 5px 5px 5px 5px;
    background-color: #737CA1;
    border: 1px solid white;
}

a:link#del {
    color: #F08080;
    background-color: transparent;
    text-decoration: none;
} 
a:visited#del {
    color: #F08080;
    background-color: transparent;
    text-decoration: none;
}
a:hover#del {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active#del {
    color: #F08080;
    background-color: transparent;
    text-decoration: underline;
}

table.rounded {
    border-radius: 5px;
    padding: 10px;
    border:none;
    border-spacing: 10px;
    margin-top: 5px;
    width: 100%;
    height: 150px;
    background-color: #DCF0F7;
}

table.compact {
	padding: 0px;
	border-spacing: 10px;
	margin-top: 0px;
	height: 0px;
}

table.smallform {
    padding: 0px;
    border:none;
    border-spacing: 10px;
    background-color: #DCF0F7;
}

table.midsize {
	width: 50%;	
}

table.smallsize {
	width: 25%;	
}

/*LINKS*/

a:link, a:visited {
    color:#3c443d;
	text-decoration: none;
}

a:hover {
    color: #000000;
	text-decoration: none;
}
a:active {
    color: #3c443d;
	text-decoration: none;
}

a {
	transition: all 0.1s ease-out;
}

a.linkblock {
    color:#000000;
	text-decoration: none;
	background-color: transparent;
	text-align: center;
	padding: 4.5px 13px;
	border-radius: 25px;
	display: inline-block;
	margin: 2px;
}
a.linkblock-selected {
	background-color: #0C2C52;
	color:#FFFFFF;
}
a.linkblock-cancel {
	background-color: #CD5C5C;
	margin-left: 5px;
	color:#FFFFFF;
}
a.linkblock-submit {
	background-color: red;
	margin-left: 5px;
	color:#007203;
}
a.linkblock-border {
	border: 1px solid #000000;
}
a:hover.linkblock {
	color:#FFFFFF;
	background-color: #0C2C52;
}

/* CONTENT WRAPPERS */

#menu-section {
	/*display: inline;*/
	background: #737CA1;
    color:white;
    margin-right: 5px;
    padding: 10px 14px;
    /*float: left;*/
}

.wide-content {
	width: 100%;
}

.wide-content-center-text {
	width: 70%;
	height: 120px;
  	line-height: 120px;
  	text-align: left;
  	font-size: 3em;
  	word-wrap:break-word;
}

.ww {
	 white-space: pre-wrap;      
   	 white-space: -moz-pre-wrap;    
     white-space: -pre-wrap;     
     white-space: -o-pre-wrap;      
     word-wrap: break-word;     
}

.short-menu {
	width: 20%;
}

#login-section {
	width: 30%;  
	color:black;
    margin: 0 auto;
    padding: 14px 16px;
    text-align: center;
}

/* INPUT STYLES */

#input input[type=text], #input input[type=password] {
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    
}

#input textarea {
	padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid black;
    width: 100%;
}

#input select {
	padding: 4px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    font-weight: bold;
    background-color: #e1e6ef;
}
#input input[type=submit] {
	padding: 4px 16px;
    margin: 4px 0;
    border-radius: 25px;
    border: 1px solid black; 
    font-weight: bold;
    background-color: #5E9DC8;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);    
    transition: all 0.3s ease-out;
}
#input input[type=submit]:hover {
	background-color: #2B3856;
	color: #ffffff;
	cursor: pointer;
}
#input input[type=submit].spacing-left {
	margin-left: 5px;
}
#input input[type=submit].send {
	background-color: #a6e394;
}
#input input[type=submit].cancel {
	background-color: #CD5C5C;
}
#input input[type=submit]:hover.cancel {
	color: #ffffff;
	background-color: red;
}
#input input[type=submit].generic {
	background-color: #5E9DC8;
}
#input input[type=submit].cross {
	background-image: url("/images/static/delete.png");
}
#input input[type=submit].hide {
	display: none;
}
#input input[type=text].search {
	background-image: url("/images/static/search.png");
	background-repeat: no-repeat;
    background-size: 35px 35px;
}
#input input[type=submit].spinner {
	background-image: url("/images/static/loading.gif");
	background-repeat: no-repeat;
    background-size: 30px 32px;
    padding: 3px 60px;
}
input#input-def {
  	padding: 4px 16px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid black;  
} 

textarea#input-def {
  	padding: 4px 16px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
}

/* BUTTON STYLES */
button[type=button] {
	padding: 4px 16px;
    margin: 4px 0;
    color: white;
    border-radius: 5px;
    border: 1px solid black; 
    font-weight: bold;
    background-color: #2B3856;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);    
}

.processhide {
	display: none;
	width: 100%;
}

/* IMAGE STYLES */

.rounded {
	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
}

/* RANDOM STYLES */

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;  
 white-space: -pre-wrap;      
 white-space: -o-pre-wrap;    
 word-wrap: break-word;       
}

.tdStyle {
    width: 120px;
    overflow: hidden;
    display: inline-block;
    list-style-type: none;
}
.tdTop {
	vertical-align: top;
}

.wrap { 
	white-space: -moz-pre-wrap !important;
	white-space: -webkit-pre-wrap;
	white-space: -pre-wrap;     
	white-space: -o-pre-wrap;  
	white-space: pre-wrap;    
	word-wrap: break-word;    
	word-break: break-all;
	white-space: normal;
}

.tdStyle-nolist {
    list-style-type: none;
}

code {
	margin: 5px;
}

/* RULER STYLES */
hr {
	border: 0;
	background-color: gray;
	height: 1px;
}

hr.gradient {
	border: 0;
	height: 1px; 
	background-color: transparent;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); 
}
hr.gradient-full {
	border: 0;
	height: 1px; 
	background-color: transparent;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

/*HEADINGS*/

.heading1 {
	background: none; 
	border: none; 
	-webkit-filter: drop-shadow(2px 2px 2px #222); 
	filter: drop-shadow(2px 2px 2px #222);
}

.heading2 {	
}

/* Message handling*/
.alert {
    padding: 20px;
    background-color: #F44336;
    color: white;
    border: 2px solid #F44336;
    border-radius: 5px 5px 5px 5px;
}
.danger {
    padding: 20px;
    background-color: #F44336;
    color: white;
    border: 2px solid #F44336;
    border-radius: 5px 5px 5px 5px;
}
.success {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 5px 5px 5px 5px;
}
.warning {
    padding: 20px;
    background-color: #FF9800;
    color: white;
    border: 2px solid #FF9800;
    border-radius: 5px 5px 5px 5px;
}
.info {
    padding: 20px;
    background-color: #2196F3;
    color: white;
    border: 2px solid #2196F3;
    border-radius: 5px 5px 5px 5px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*TOOLTIPS*/
